/**
 * We're only tuning the colors here, but more variables are
 * available.
 */
.orejime-Env {
	--orejime-color-background: #132d2c;
	--orejime-color-text: #fff;
	--orejime-color-subdued: #c1d2b5;
	--orejime-color-interactive: #f2e747;
	--orejime-color-on-interactive: #282827;
}
